{%  extends '::base.html.twig' %}
{% block body %}
{%if app.user.id is defined %}

    <a href="{{ path('fos_user_security_logout') }}">logout from fos</a> 
{% else %}
    <a href="{{ google_url }}">Connect with Google</a><br>
    
    please  <a href="{{ path('fos_user_security_login') }}">login</a> OR <a href="{{ path('fos_user_registration_register') }}">register</a>
    {% endif%}
{% endblock %}